<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/images/weather.jpg">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img src="/images/avg.jpg">
        <h2>Everything about us</h2>
        
        {{!-- <h1>about page</h1>
        <h2>{{title}}</h2> --}}
        {{!-- <h2>created by {{name}}</h2> --}}
    </div>
    {{>footer}}
</body>
</html>